<script type="text/ng-template" id="_.main.html">
	<div class="sc-main-component">
		<div flex-xs="" flex-gt-xs="50" layout="column">
			<md-card md-theme="dark-grey" md-theme-watch="">
				<md-card-title>
					<md-card-title-text>
						<span class="md-headline"><h2 class="reddish"> input is: {{$ctrl.x}} </h2></span>
						<span class="md-subhead"><h5>HI!!!</h5></span>
					</md-card-title-text>
					<md-card-title-media>
						<div class="md-media-lg card-media"></div>
					</md-card-title-media>
				</md-card-title>
				<md-card-actions layout="row" layout-align="end center">
					<md-button>Action 1</md-button>
					<md-button>Action 2</md-button>
				</md-card-actions>
			</md-card>
		</div>
	</div>
</script>
